.example-card {
  max-width: 250px;
  max-height: 100px;
  margin-left: 50px;

}

.example-header-image {
  background-image: url('/assets/java.png');
  background-size: cover;
  border: 1px solid;
}

.example-card2{
	max-width: 250px;
	max-height: 100px;
	margin-left: 400px;
	margin-top: 0px;
}
