<h1>Hello this is testing angular</h1>
<!-- <app-profile></app-profile> -->
<audio controls="controls" src="https://drive.google.com/uc?id=1OFQXuzsxrsw475Kq5osu1wFYkM9sljDU"></audio>
<embed src="https://drive.google.com/uc?id=14r_7BfQxGipntMUuJZpyTE8pxgA7cGuX" type="application/pdf" height="700px" width="500px">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Java</mat-card-title>
    <mat-card-subtitle>The Complete Reference</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/java.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>Seventh Edition</p>
    <p>Author: Herbert Schildt</p>  
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">View</button>
    <button mat-raised-button color="accent">Add to shelf</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>TCP/IP</mat-card-title>
    <mat-card-subtitle>Protocol suite</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/tcp.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>FourthEdition</p>
    <p><strong>Author: </strong>Behrouz A. Forouzan</p>  
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="'/view'">View</button>
    <button mat-raised-button color="accent" >Add to shelf</button>
  </mat-card-actions>
</mat-card>
<button mat-button (click)="openDialog()">Open dialog</button>
<!-- <img src = "https://drive.google.com/uc?id=1IYB5qX4IkTF73XmfcPhQtmLVjVSBP_aF"> -->
